{% extends "base.html" %}

{% block title %}
Chat | Cherrie 🍒
{% endblock %}


{% block body_class %}
chat-page
{% endblock %}


{% block content %}

<section class="chat-box glass-card">

    <h1>
        Talk to Cherrie 🍒
    </h1>


    <div id="chat-container">
        <!-- Messages appear here -->
    </div>


    <div class="chat-input">

        <input 
            id="user-message"
            type="text"
            placeholder="Ask Cherrie anything..."
        >


        <button onclick="sendMessage()">
            Send
        </button>

    </div>


</section>

{% endblock %}